{% extends "base.html" %}

{% block content %}
    <div class="clientes-container">

    <h1>Clientes</h1>

    <div class="clientes-menu">
        <a href="/clientes/cadastrar">Cadastrar Cliente</a>
        <a href="/clientes/listar">Listar Clientes</a>
    </div>

    {% if not pagina %}
        <img src="{{ url_for('static', filename='imagens/clientes.svg') }}" class="banner-img">
    {% endif %}

    <main>

        {% if pagina == 'listar' %}
            {% for cliente in clientes %}
                <div class="cliente-card">
                    <h3>{{ cliente.nome }}</h3>
                    <p>Email: {{ cliente.email }}</p>
                    <a href="/clientes/editar/{{ cliente.id }}">Editar</a>
                    <a href="/clientes/excluir/{{ cliente.id }}">Excluir</a>
                </div>
            {% endfor %}
        {% endif %}




        {% if pagina == 'cadastrar' %}
            <div class="cliente_form_card">

                <form action="/clientes/cadastrar" method="post" class="cliente-form">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <button type="submit">Cadastrar</button>
            </form>

            </div>
        {% endif %}


        {% if pagina == 'editar' %}
            <div class="cliente_form_card">

                <form action="/clientes/editar/{{ cliente.id }}" method="post" class="cliente-form">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ cliente.nome }}" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ cliente.email }}" required>

                <button type="submit">Salvar</button>
            </form>

            </div>
        {% endif %}



    </main>

</div>

    
{% endblock %}